/*html, body {
    background-image: linear-gradient(white, black);
    background-size: 100%;
    
}*/


#tela {
    padding-top: 100px;
}

#login {

    padding-bottom: 50px;
    background-color: rgb(0,0,0) !important;
    width: 500px;
    position: relative;
    
}

#login img {
    width: 100px;
    height: 100px;
}
#textTitle {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.btn-outline-white {
    background-color: white;
    color: black;
}