

body {
    background-color: #227093;
    background-size: 100%;
    padding-bottom: 20px;
}

.conteudoPagina {
    height: auto;
    margin: auto;
    padding-bottom: 50px;
    /*padding-left: 100px;
    padding-right: 100px;*/
}
.logotipo {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 35px;
    top: 0px;
}


.logotipoTitulo {

        font-family: 'Montserrat', sans-serif;
}

.menu {
    background-color: #1e272e;
    margin-bottom: 80px;
}
#linksMenu a {
    color: lightgray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color .3s linear;
}

    #linksMenu a:hover {
        color: white;
    }

.dropdownMenu a {
    color: black!important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color .3s linear;
}

.btn-preto {
    background-color: #000000;
    color: white;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    color: white;
    text-align: center;

}

#footer p {
        margin-top: 1%;
    }

#welcomeMessage {
    color: #ffffff;
}